<div class="container">

    <div class="row">
        <img src="../assets/img/hamburger.jpg" alt="">
        <h1>Eat-Da-Burger!</h1>
    </div>

    <div class="row">
        {{!-- <div class="col-lg-2 col-md-2 col-xs-2"></div> --}}
        {{!-- selectAll --}}
        <div class="col-lg-5 col-md-5 col-xs-5">
            {{#each burgers}} {{#unless this.devoured}}
            <button type="button" class="btn btn-secondary btn-lg btn-block">{{this.id}}. {{this.name}}</button> {{/unless}}
            {{/each}}
        </div>
        {{!-- updateOne --}}
        <div class="col-lg-2 col-md-2 col-xs-2">
            {{#each burgers}} {{#unless this.devoured}}
            <form id="form" action="/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" name="devoured" value="true" class="btn btn-success btn-lg btn-block">Devour {{this.id}}</button>
            </form>
            {{/unless}} {{/each}}
        </div>
        {{!-- show after devour --}}
        <div class="col-lg-5 col-md-5 col-xs-5">

            {{#each burgers}} {{#if this.devoured}}
            <button type="button" class="btn btn-secondary btn-lg btn-block">{{this.id}}. {{this.name}}</button> {{/if}}
            {{/each}}
        </div>
        {{!-- <div class="col-lg-2 col-md-2 col-xs-2"></div> --}}
    </div>

    {{!-- input new burger --}}
    <div id="burgerInput" class="row">
        <form class="form-group" action="/" method="POST">
            <div class="form-group">
                <textarea name="name" cols="40" rows="5 "></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <p>Enter a burger you want to eat Click the "Submit" button</p>
    </div>

</div>